@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap');

/* CSS RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */

body{
  background-color: rgb(17, 6, 1);
}

/* NAVBAR */
.nav-menu-bottom {
  display: flex;
  flex-wrap: nowrap;  
  justify-content: center; 
  align-items: center;    
  background-color: antiquewhite;
  position: fixed;
  bottom: 0;
  left: 0;             
  width: 100%;         
  padding: 10px 0;    
  gap: 20px;           
}

.nav-menu-bottom img {
  max-width: 140px;     
  height: auto;        
}